
# on prem
ONPREM_DB_SERVER=ip
ONPREM_DB_DATABASE=db

ONPREM_DB_USER_PUBLIC=login
ONPREM_DB_PASSWORD_PUBLIC=pass

ONPREM_DB_USER_SERVICE=login
ONPREM_DB_PASSWORD_SERVICE=pass

# App environment
APP_NAME=projName
