body{
    background-color: aquamarine;
}

.loading-container{
    font-size: 28px;
    position: relative;
    display: inline-block;
    width: 1em;
    height: 1em;
}
.loading-container.center{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.loading-container  .loading{
    position: absolute;
    left: 0.4em;
    bottom: 0;
    width: 0.07em;
    height: 0.27em;
    border-radius: 0.05em;
    transform-origin: center -0.2em;
    animation: loading-fade 1s infinite linear;
}
.loading-container .loading:nth-child(1){
    animation-delay: 0s;
    transform: rotate(0deg);
}
.loading-container .loading:nth-child(2){
    animation-delay: 0.083s;
    transform: rotate(30deg);
}
.loading-container .loading:nth-child(3){
    animation-delay: 0.116s;
    transform: rotate(60deg);
}
.loading-container .loading:nth-child(4){
    animation-delay: 0.249s;
    transform: rotate(90deg);
}
.loading-container .loading:nth-child(5){
    animation-delay: 0.332s;
    transform: rotate(120deg);
}
.loading-container .loading:nth-child(6){
    animation-delay: 0.415s;
    transform: rotate(150deg);
}
.loading-container .loading:nth-child(7){
    animation-delay: 0.498s;
    transform: rotate(180deg);
}
.loading-container .loading:nth-child(8){
    animation-delay: 0.581s;
    transform: rotate(210deg);
}
.loading-container .loading:nth-child(9){
    animation-delay: 0.664s;
    transform: rotate(240deg);
}
.loading-container .loading:nth-child(10){
    animation-delay: 0.747s;
    transform: rotate(270deg);
}
.loading-container .loading:nth-child(11){
    animation-delay: 0.83s;
    transform: rotate(300deg);
}
.loading-container .loading:nth-child(12){
    animation-delay: 0.913s;
    transform: rotate(330deg);
}

@keyframes loading-fade{
    0%{
        background-color: rgb(226, 221, 221);
    }
    100%{
        background-color: rgb(0, 0, 0);
    }
}